{% extends 'main.html' %}

{% block content %}

<h1>{{ request.user.username }}'s Cart</h1>
<h2>Total: {{ total }}</h2>
<hr>

<div>
{% for item in items %}

{% if item.owner.username  == request.user.username  %}
<div>
    <img height="200" width="200" src="{{ item.item.pimage }}">
    <p>{{ item.item.price }}</p>
    <p>Quantity: {{ item.quantity }}</p>
    <form method="POST" action="{% url 'remove-item' item.id %}">
        {% csrf_token %}
        <input type="submit" value="Remove" />
    </form>
</div>
{% endif %}

{% endfor %}
</div>

{% endblock content %}